{% extends 'base.html.twig' %}

{% block title %}Modulo de productos{% endblock %}

{% block body %}
    <div class="content d-flex flex-column flex-column-fluid">
    <!-- content here -->
    </div>
{% endblock %}
